h1 {
    background-color: bisque;
}

a {
    font-size: 24px;
    color: rgb(74, 103, 103);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

p {
    background-color: rgb(62, 60, 60, .5);
}

li {
    background-color: beige;
    margin: 5px auto;
}

h2 {
    text-decoration: underline;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 20%;
}

body {
    background-color: rgb(240, 248, 255);
}

.block{
    width: 400px;
    margin: 16px auto;
    text-align: center;
}

.recipe-list{
    border: solid 2px rgb(225, 132, 132);
    padding: 4px;
    text-align: center;
}